@import 'tailwindcss';

:root {
  --background: #fffded;
}

@theme inline {
  --color-background: var(--background);
  --color-yellow-400: oklch(0.9085 0.1374 93.83);
  --font-tit: var(--font-tit);
  --font-line: var(--font-line);
  --font-line: var(--font-line);
  --font-cont: var(--font-cont);
}

@utility text-stroke {
  -webkit-text-stroke: 1px currentColor;
}

body {
  background: var(--background);
  font-family: var(--font-cont), sans-serif;
}
